<div class="modal">
	<div class="modal_inner">
		<div class="modal_confirmination">
			<div class="modal_confirmination_title"></div>
			<div class="modal_confirmination_text">このWEBサイトは<br>アルコール関連のWEBサイトで、<br>20歳以上の方を対象としています。<br>あなたは20歳以上ですか？</div>
			<div class="modal_confirmination_btns">
				<button type="button" class="modal_confirmination_btn">YES</button>
				<a href="" class="modal_confirmination_btn">NO</a>				
			</div>
		</div>
	</div>
</div>